@import 'pirati';

.c-widget-share-box + .c-pardubice-infobox,
.c-pardubice-infobox + .c-pardubice-infobox {
    margin-top: 2rem;
}

.c-pardubice-infobox {
    background: $light-gray;
    padding: 2rem;
}
